* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1260px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
@media only screen and (max-width: 1259px) {
  .container {
    width: 100%;
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
  }
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 2;
}
.header .container .row {
  font-size: 0.9rem;
  align-items: center;
}
.header .container .row .logo img {
  width: 80px;
}
.header .container .row .header-right {
  display: flex;
  text-align: right;
}
.header .container .row .header-right nav {
  display: inline-block;
}
.header .container .row .header-right nav ul {
  margin: 0;
  list-style: none;
}
.header .container .row .header-right nav ul li {
  display: inline-block;
  padding-right: 50px;
}
.header .container .row .header-right nav ul li a {
  text-transform: capitalize;
  color: #181818;
  font-size: 13px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.header .container .row .header-right .header-menu {
  display: flex;
}
.header .container .row .header-right .header-menu .header-phone a {
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 50px;
  background-color: #b61984;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  padding: 1.1em 1.5em;
}
.header .container .row .header-right .header-menu .header-phone a:hover {
  border: 1px solid #b61984;
  background-color: #fff;
}
.header .container .row .header-right .header-menu .header-phone a:hover i,
.header .container .row .header-right .header-menu .header-phone a:hover span {
  color: #b61984;
}
.header .container .row .header-right .header-menu .header-phone a i,
.header .container .row .header-right .header-menu .header-phone a span {
  font-size: 13.5px;
  font-weight: 600;
  color: #fff;
}
.header .container .row .header-right .header-menu .header-phone a i {
  padding-right: 0.5em;
}
.header .container .row .header-right .header-menu .header-social {
  display: block;
}
.header .container .row .header-right .header-menu .header-social a {
  margin-left: 1em;
  color: #181818;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.header-bg img {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  right: 0;
  left: 0;
}

.carousel {
  padding-bottom: 4em;
}
.carousel .container .row .carousel-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carousel .container .row .carousel-left .carousel-content h1 {
  color: #b61984;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.carousel .container .row .carousel-left .carousel-content p {
  color: #181818;
  font-size: 3.8rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}
.carousel .carousel-footer img {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  right: 0;
  left: 0;
}

.member {
  background-color: #dcd1f3;
  position: relative;
}
.member .container {
  position: relative;
  z-index: 2;
}
.member .container .row .tag {
  padding: 0 20px;
}
.member .container .row .tag .member-card {
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.member .container .row .tag .member-card:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.member .container .row .tag .member-card:hover .card-top img {
  max-width: 100%;
  transform: scale3d(1.05, 1.05, 1.05);
  border-radius: 10px 10px 0 0;
}
.member .container .row .tag .member-card .card-top {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.member .container .row .tag .member-card .card-top img {
  transition: all 0.65s ease-in-out;
  max-width: 100%;
  display: block;
}
.member .container .row .tag .member-card .card-bottom {
  padding: 2em 2em;
}
.member .container .row .tag .member-card .card-bottom h2 {
  margin-bottom: 0.75em;
  color: #b61984;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.member .container .row .tag .member-card .card-bottom .name {
  color: #181818;
  font-size: 1.55rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.member .container .row .tag .member-card .card-bottom .desc {
  color: #181818;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.member .container .member-top {
  margin-bottom: 40px;
}
.member .member-bg-footer img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.contact {
  padding-top: 4em;
  position: relative;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .container .row .contact-left img {
  width: auto;
}
.contact .container .row .contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact .container .row .contact-right .contact-card {
  padding: 0 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.contact .container .row .contact-right .contact-card h2 {
  margin: 40px 0 50px;
  color: #181818;
  font-size: 2.5em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row1 {
  display: flex;
  padding-bottom: 1em;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row1 .contact-name {
  width: 50%;
  padding-right: 1em;
  position: relative;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row1 .contact-name i {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row1 .contact-name input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  outline: none;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  color: inherit;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row1 .contact-email {
  width: 50%;
  position: relative;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row1 .contact-email i {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row1 .contact-email input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  outline: none;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  color: inherit;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row2 {
  position: relative;
  padding-bottom: 1em;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row2 .fa-graduation-cap {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row2 input {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  outline: none;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  color: inherit;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row2 .fa-angle-down {
  position: absolute;
  top: 1em;
  right: 1em;
  line-height: 1;
  color: #b61984;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row2 .option {
  display: none;
  list-style: none;
  padding-left: 3em;
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  max-height: 320px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #181818;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row2 .option li {
  color: #181818;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.8em;
  padding-bottom: 5px;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row3 {
  position: relative;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row3 i {
  position: absolute;
  top: 1em;
  left: 1em;
  line-height: 1;
  color: #b61984;
}
.contact .container .row .contact-right .contact-card .contact-form .contact-row3 textarea {
  width: 100%;
  padding: 1em 1em 1em 3.5em !important;
  height: 90px;
  line-height: 1.5;
  font-size: 0.8em !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.contact .container .row .contact-right .contact-card .contact-btn {
  max-width: 150px;
  padding-top: 2em;
  margin-bottom: 5em;
}
.contact .container .row .contact-right .contact-card .contact-btn a {
  text-transform: uppercase;
  line-height: 4em;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
  display: block;
  height: 4em;
  border-radius: 50px;
  background-color: #b61984;
  color: #fff;
  box-shadow: 0 0 0 3em #b61984 inset;
}
.contact .contact-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.contact .contact-bg img {
  width: 100%;
}

.footer {
  background-image: url(../../image/footer_background.jpg);
  padding: 8em 0;
  background-size: cover;
  background-position: center;
}
.footer .container .row .footer-col {
  margin-bottom: 80px;
}
.footer .container .row .footer-col h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.footer .container .row .footer-col ul {
  list-style: none;
}
.footer .container .row .footer-col ul li {
  margin-bottom: 11px;
}
.footer .container .row .footer-col ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-bottom: 12px;
  margin-bottom: 1px;
  text-transform: capitalize;
  transition: all 0.5s;
}
.footer .container .row .footer-col ul li a:hover {
  opacity: 0.8;
}
.footer .container .row .footer-col ul {
  width: 61px;
}
.footer .container .row .footer-col ul li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1;
  padding: 0.8em 0;
}
.footer .container .row .footer-col:first-of-type p i {
  color: #fff;
  font-size: 0.9em;
  padding-right: 0.8em;
}
.footer .container .row .footer-col:first-of-type p span {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.footer .container .row .footer-col:first-of-type .footer-social i {
  color: #fff;
  font-size: 0.9em;
  padding-right: 0.8em;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-email {
  padding-bottom: 0.5em;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-email input {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  font: inherit;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em;
  color: inherit;
  border-radius: 50px;
  transition: all 500ms ease;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-email input::-moz-placeholder {
  color: #fff;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-email input:-ms-input-placeholder {
  color: #fff;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-email input::placeholder {
  color: #fff;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-email input:hover {
  border: 1px solid rgb(255, 255, 255);
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input {
  cursor: pointer;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  font: inherit;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em;
  color: inherit;
  border-radius: 50px;
  transition: all 500ms ease;
  box-shadow: 0 0 0 3em #fff inset;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input::-moz-placeholder {
  color: #181818;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input:-ms-input-placeholder {
  color: #181818;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input::placeholder {
  color: #181818;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input:hover {
  box-shadow: 0 0 0 1px #fff inset;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input:hover::-moz-placeholder {
  color: #fff;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input:hover:-ms-input-placeholder {
  color: #fff;
}
.footer .container .row .footer-col:last-of-type .footer-btn .btn-sub input:hover::placeholder {
  color: #fff;
}