// --> Color text
// --> Color text follow class of page
$color-text-main:#181818;
$color-text-footer:#fff;
// Color text follow class of page <-- 
$color-text-btn: #fff;
$color-text-btn-hover: #b61984;
$color-text-client:#b61984;
// Color text <--

//-->Font family
$ff-title: 'Montserrat', sans-serif;
$ff-content:'Roboto', sans-serif;
//Font family<--
